* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.stage {
  position: relative;
}
.canvas {
  border: 0px;
  display: block;
  position: absolute;
}

.supportCanvas {
  z-index: 1;
}

.guiContainer {
  z-index: 2;
  width: 100%;
  height: 32px;
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 8px;
}
.gui {
  width: 100%;
  background-color: rgba(214, 214, 214, 0.767);
  border: 1px solid rgba(168, 168, 168, 0.774);
  display: flex;
  justify-content: space-between;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0px 5px 8px -4px rgba(0, 0, 0, 0.1);
}
.guiTools {
  display: flex;
  column-gap: 4px;
}
.gui select {
  background-color: rgb(207, 207, 207);
  border: 1px solid rgb(185, 185, 185);
  border-radius: 6px;
  padding: 2px 4px;
}
.guiKey {
  display: flex;
  align-items: center;
  font-size: 11px;
  border-radius: 6px;
  padding: 2px 4px;
}
